body{
    font-family: Verdana;
    background-image:url(imagenes/fondo.jpg);
    background-size: cover;
}

form{
  text-align: center;  
}

h1{
    text-align: center;
    color: bisque;
}

.boton-registro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
}

.astronauta_registro{
    display:flex;
    justify-content: center;
    align-items: center;
    size: 200%;
}

.astronauta_bienvenido{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_bienvenido{

    font-size: 300%;
  font-weight: 500%;
  text-transform: uppercase;
  position: relative;
 
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
 
  animation: glitch 500ms infinite;
}
@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 
      0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }

}

.astronauta_error{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
    font-family: Impact;
    font-size: large;
    text-shadow: -3px 3px #ffffff, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px #6ac7c2;
}
